@font-face {

    font-family: 'Roboto Condensed';

    src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),

         url('../fonts/robotocondensed-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}



/* Scrollbar */

::-webkit-scrollbar {

    width: 6px;

    background-color: #333;

}

::-webkit-scrollbar-thumb {

    background-color: #b77447;

}

::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

    background-color: #333;

}

/* End Scrollbar */

.icon-star, .icon-star_half {

    color: #ce9617;

}

.subcategory-menu .icon-star {

    color: #555;

}

body{

  font-family: "Roboto Condensed",sans-serif;

  color: #444;

}

a, a:hover {

    color: #b77447;

}

.container {

    max-width: 1400px;

}

@media (max-width: 1399px) {

    .container {

        max-width: calc(100% - 30px);

    }

}

.btn-primary {

    background: #b77447;

    border-color: #b77447;

}

.btn-primary:hover {

    background: #333;

    border-color: #333;

}

.no_records_found {

    padding: 126px 0;

    text-align: center;

    color: #ccc;

    border: 2px dashed;

    font-size: 36px;

    margin-bottom: 30px;

}

.no_record_icon {

    font-size: 128px;

}

.slider.slider-horizontal {

    width: calc(100% - 20px);

    margin-right: 10px;

    margin: auto;

}

header{

    /* position: sticky;

    top: 0; */

    background: #ffffff;

    /* z-index: 999; */

}

.coupon_strip {

    background: #b77447;

    padding: 10px 0;

}

.coupon_strip span.remove-coupon-strip {

    cursor: pointer;

}

.subcategory-menu {

    padding: 0;

    margin: 0;

}

.subcategory-menu>li {

    display: inline-block;

    margin-left: 10px;

    color: #6c757d;

}

.subcategory-menu>li>a {

    margin-left: 10px;

    color: inherit;

    -webkit-transition: all .5s ease;

            transition: all .5s ease;

}

.subcategory-menu>li>a:hover {

    text-decoration: none;

    color: #b77447;

}

.subcategory-menu>li:first-child, .subcategory-menu>li:first-child>a {

    margin-left: 0;

}

.top-line{

    background: #eeeeee;

    font-size: 14px;

}



.top-nav{

    padding: 0;

    margin: 0;

    list-style: none;

    float: right;

}



.top-nav li{

   display: inline;

    float: left;

}



.top-nav li a{

    text-decoration: none;

    color: #333333;

    text-align: center;

    display: inline-block;

    padding: 10.5px 0px 10.5px 25px;

}



.icon-user{

    color: #b77447;

}



.top-nav li a:hover{

    color: #b77447;

}



.sub-head{

    cursor: pointer;

    position: relative;

}

.sub-head, .sub-head a {

    cursor: pointer;

}

.sub-menu{

    position: absolute;

    top: 100%;

    right: 0;

    background: #FFFFFF;

    display: none;

    padding: 0;

    z-index: 9;

    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

}

.sub-menu li {

    display: block;

    list-style: none;

    float: none;

    min-width: 50px;

    text-align: center;

    cursor: pointer;

}

.sub-menu li a{

    padding: 5px 30px;

    display: inline-block;

    cursor: pointer;

}



.sub-head:hover>.sub-menu {

    display: block;

}



.sub-head .sub-menu li a{

    white-space: nowrap;

}



.sub-head .sub-menu li a:hover{

   background: #ffffff;

    color: #333333;

}



a.logo{

   max-width: 100%;

    height: auto;

}



.second-line{

    /* padding-top: 30px;

    padding-bottom: 30px; */

    padding: 25px 0;

    box-shadow: -8px 12px 8px -13px #3d3d3d;

}



.link-name div {

    text-transform: uppercase;

    padding-right: 18px;

}



.link-name{

    padding-top: 15px;

    padding-bottom: 15px;

}



.link-name a{

    padding-right: 10px;

    text-decoration: none;

    color: #333333;

}



.link-name a:hover{

    color: #b77447;

}



.link-name .icon-home1{

    font-size: 25px;

    color: #b77447;

}

.header_search_icon {

    display: inline-block;

    margin: 20px 0;

}

.cart-head{

    float: right;

    position: relative;

}



.cart-head>a{

    position: absolute;

    left: -10px;

    right: 0;

    top: 0;

    bottom: 0;

    z-index: 1;

}



.search-body {

    display: none;

    position: fixed;

    background: rgba(0, 0, 0, 0.8);

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

    z-index: 9999;

}

.search-body .search-form {

    position: absolute;

    z-index: 9999;

    min-width: 80%;

    top: 50%;

    left: 50%;

    -webkit-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);

}

.search-body .search-form .form-control {

    color: #fff;

    border: 0;

    background: transparent;

    border-bottom: 1px solid #fff;

    border-radius: 0;

    padding: 0;

}

.search-body .search-form .form-control::placeholder {

    color: #ccc;

}

.search-close {

    display: block;

    position: absolute;

    z-index: 9999;

    right: 15px;

    top: 30px;

    cursor: pointer;

    width: 30px;

    height: 30px;

}

.search-close>span {

    position: absolute;

    right: 10px;

    display: block;

    width: 30px;

    height: 2px;

    background: #fff;

}

.search-close>span:nth-child(1) {

    -webkit-transform: rotate(45deg);

            transform: rotate(45deg);

}

.search-close>span:nth-child(2) {

    -webkit-transform: rotate(-45deg);

            transform: rotate(-45deg);

}

.icon-trash-o.remove_item_from_cart {

    cursor: pointer;

    transition: all .2s ease-in-out;

}



.icon-trash-o.remove_item_from_cart:hover {

    color:red;

}



.footer-nav{

    padding: 0;

    margin: 0;

    list-style: none;

    display: inline-block;

    margin-left: 50%;

    white-space: nowrap;

    transform: translateX(-50%);

}



.footer-nav li{

    display: inline-block;

}



.footer-nav li a{

    text-decoration: none;

    padding-right: 38px;

    color: #747474;

}



.footer-nav li:last-child a{

    padding-right: 0;

}



.footer-nav li a:hover{

    color: #b77447;

}



.follow{

    text-align: center;

    text-transform:capitalize;

    margin-top: 15px;

    margin-bottom: 15px;

    color: #747474;

    font-weight: bold;

}



.social-icons{

    text-align: center;

    margin-top: 25px;

}



.social-hub{

    list-style: none;

    display: inline-block;

    padding: 0;

}



.social-hub li{

    display: inline-block;

}



.social-hub li a{

    border: 1px solid #747474;

    border-radius:3px;

    padding: 7px 10px 5px 10px;

    /* margin-right: 20px; */

    margin:0 5px;

    color: #747474;

    text-decoration: none;

}



.social-hub li a:hover{

    background: #b77447;

    color: #ffffff;

    border-color: #b77447;

    transition: all .3s ease-in-out;

}



.rights{

    text-align: center;

    color: #747474;

    margin-top: 15px;

    margin-bottom: 10px;

}



.fship{

    font-size: 12px;

}



.freewship{

    padding-top: 20px;

}



.shipping-info{

    padding: 34px 0;

}

.shipping-info img {

    max-height: 85px;

}



.toys-head{

    text-align: center;

    font-size: 25px;

    font-weight: bold;

    color: #7c7c7c;

}



.toy{

    object-fit: cover;

    width: 100%;

    margin-bottom: 10px;

}



.toy-info{

    margin-bottom: 15px;

    text-transform: capitalize;

}





.toy-info a{

    text-decoration: none;

    color: #5a5a5a;

    line-height: 22px;

    font-size: 18px;

    display: block;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

}



.toy-info a:hover{

    color: #b77447;

}



.toy-hub{

    /* margin-bottom: 25px; */

}



.toy-border{

    border: 1px solid #eaeaea;

    padding: 20px;

    border-radius: 3px;

    position: relative;

}



.toy-border .out_of_stock {

    background: rgba(255,255,255,0.8);

    padding: 15px 30px;

    position: absolute;

    z-index: 10;

    white-space: nowrap;

    left: 50%;

    top: 50%;

    -webkit-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);

}



.second-info{

    font-size: 13px;

    color: #d0d0d0;

}



.blog-head{

    font-weight: bold;

    text-align: center;

    /* margin-bottom: 25px; */

    font-size: 25px;

}



.blog .blog-head {

    /* background:#1111; */

    /* padding:5px 0; */

    /* margin-bottom: 25px; */

    color: #7c7c7c;

}



.blog{

    padding-top: 25px;

    padding-bottom: 25px;

}



.blog-border{

    border: 1px solid #eaeaea;

    border-radius:3px;

    padding-top: 83px;

    padding-bottom: 83px;

    padding-right: 20px;

    padding-left: 20px;

    min-height: 379px;

    margin-bottom: 24px;

}



.blog-name{

    font-weight: bold;

    font-size: 15px;

    text-align: center;

    text-transform: capitalize;

    margin-top: 10px;

    margin-bottom: 15px;

    color: #484745;

}



.blog-des{

    text-align: center;

    margin-bottom: 20px;

}



.blog-border a{

    text-decoration: none;

    display: block;

    text-align: center;

    color: #333333;

}



.blog-border a:hover {

    color: #b77447;

}



.icon-keyboard_arrow_right{

    position: relative;

    top: 2px;

}



.see a{

    text-decoration: none;

    display: block;

    text-align: center;

    color: #747474;

    transition: all .2s ease-in-out;

}



.see a:hover {

    color: #b77447;

}



.icon-dollar{

    position: relative;

    top: 1px;

    margin-right: 5px;

}



.category-head{

    text-align: center;

    font-size: 25px;

    color: #747474;

    /* margin-bottom: 25px; */

}



.category-head .icon-keyboard_arrow_right{

    padding-left: 30px;

}



.category-head .icon-keyboard_arrow_left{

    padding-right: 30px;

}



.gift{

    width: 100%;

    object-fit: cover;

    height: 250px;

}



.browse-category{

    padding-bottom: 25px;

}

.browse-category img {

    max-width: 255px;

    border-radius: 3px;

}

.category-width {

    max-width: 1090px;

    margin: auto;

}

.browse-category .category-head {

    /* background:#1111; */

}



.toys-collection .toys-head {

    /* background: #1111; */

    padding:5px 0;

    /* margin-bottom:25px; */

}

.browse-category .category-head, .toys-collection .toys-head, .blog .blog-head {

    /* border-top: 1px solid #ccc; */

    padding: 31px 0;

    /* padding-bottom: 33px; */

}

.blog .blog-head {

    padding-top: 33px;

    padding-bottom: 29px;

}

a.see-all{

    text-decoration: none;

    text-transform: uppercase;

    display: block;

    text-align: center;

    color: #747474;

    /* margin-bottom: 40px; */

    font-size: 1rem;

    font-weight: normal;

}



.sw-head{

    padding: 10.5px 0;

}



.heart{

    position: absolute;

    top: 6px;

    right: 28px;

    color: #b77447;

}



.btn-to{

    box-shadow: none;

    background: #ffffff;

    color: #333333;

    padding-top: 8px;

    padding-bottom: 8px;

    width: 100%;

    font-size: 15px;

    font-weight: 500;

    margin-right: 5px;

    border: 1px solid #b77447;

    border-radius: 3px;

}



.btn-to:hover{

    background: #b77447;

    color: #FFFFFF!important;

    border: 1px solid #b77447;

    transition: .3s ease-in-out;

}



.btn_group{

    margin-top: 20px;

    width: 100%;

}



#return{

    position: fixed;

    bottom: 40px;

    right: 60px;

    display: block;

    border-radius: 100%;

    background: #b77447;

    width: 50px;

    height: 50px;

    text-align-all: center;

    text-decoration: none;

    color: #ffffff;

    z-index: 999;

}



#return .icon-keyboard_arrow_up{

    font-size: 30px;

    font-weight: bold;

    position: relative;

    top: 8px;

    left: 10px;

}



#return:hover {

    background:#22bfa0;

}



.img-wtext{

    background: #e5dbdb;

    position: absolute;

    top:50%;

    left: 50%;

    transform: translate(-50%,-50%);

    padding: 10px;

    text-align: center;

    text-transform: uppercase;

    font-size: 13px;

    color: #93848e;

}



.img-headline{

    font-family: 'Roboto-bold';

    font-size: 50px;

    color: #FFFFFF;

    position: absolute;

    top: 40%;

    left: 50%;

    transform: translate(-50%,-50%);

    text-transform: capitalize;

}



.fbs{

    color: #FFFFFF;

    position: absolute;

    top: 53%;

    left: 50%;

    transform: translate(-50%,-50%);

    text-transform: capitalize;

    font-size: 25px;

}



.icon-shopping-bag{

    color: #b77447;

    position: relative;

    top: 10px;

    right: 10px;

}



.leftr .icon-keyboard_arrow_left{

    font-size: 80px;

    transform: translateY(-50%);

    position: absolute;

    top: 50%;

    color: #ffffff;

}



.leftr .icon-keyboard_arrow_right{

    font-size: 80px;

    transform: translateY(-50%);

    position: absolute;

    right: 0;

    top: 50%;

    color: #ffffff;

}



.carousel-indicators li {

    border-radius: 100px;

    width: 10px;

    height: 10px;

    border-top: none;

    border-bottom: none;

}

.xzoom-container {

    max-width: 100%;

}

.xzoom-thumbs {

    display: block;

    margin-left: 0;

}

.xzoom-gallery {

    padding-left: 0;

    margin-left: 0 !important;

}

footer{

    margin-top: 73px;

    border-top: 1px solid #eae6e4;

    padding-top: 25px;

    padding-bottom: 30px;

    overflow-x: hidden;

}



.breadcrumb{

    background: none;

    padding: 0;

    margin: 15px 0;

}



.breadcrumb li a, .breadcrumb li:hover a, .breadcrumb li a:focus {

    text-decoration: none;

    color: #6c757d;

}



.breadcrumb li:hover a{

    color: #b77447;

}



.xbox {

    display: block;

    position: relative;

    /* bottom:15px; */

    margin-bottom: 10px;

    cursor: pointer;

    font-size: 18px;

    line-height: 18px;

    text-transform: capitalize;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

}



/* Hide the browser's default checkbox */

.xbox input {

    position: absolute;

    opacity: 0;

    cursor: pointer;

    height: 0;

    width: 0;

}



/* Create a custom checkbox */

.checkmark {

    position: absolute;

    height: 18px;

    width: 18px;

    background-color: #ffffff;

    border: 1px solid #ccc;

}



/* On mouse-over, add a grey background color */

.xbox:hover input ~ .checkmark {

    background-color: #ffffff;

}



/* When the checkbox is checked, add a blue background */

.xbox input:checked ~ .checkmark {

    background-color: #ffffff;

}



/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {

    content: "";

    position: absolute;

    display: none;

}



/* Show the checkmark when checked */

.xbox input:checked ~ .checkmark:after {

    display: block;

}

.xbox input:checked ~ .checkmark {

    background: #b77447;

    border-color: #b77447;

}

/* Style the checkmark/indicator */

.xbox .checkmark:after {

    left: 5px;

    top: 0px;

    width: 6px;

    height: 12px;

    border: solid #fff;

    border-width: 0 1px 2px 0;

    -webkit-transform: rotate(45deg);

    -ms-transform: rotate(45deg);

    transform: rotate(45deg);

}



span.name{

    font-size: 15px;

    margin-left: 25px;

}

#slider12c .slider-selection, .slider.slider-horizontal .slider-handle {

    background: #ffa38e;

}



#slider12a .slider-track-high, #slider12c .slider-track-high,

#slider12b .slider-track-low, #slider12c .slider-track-low {

    background: #e6e6e6;

}



.slider.slider-horizontal .slider-track {

    height: 2px !important;

    top: 125%;

}



.slider.slider-horizontal {

    margin-left: 10px;

}



.slider-handle {

    top: 11px !important;

}







.slider-val {

    display: flex;

}



.slider_value_heading {

    /*font-family: 'robotoregular';*/

    /*color:#575757;*/

}



.slider_value {

    /*font-family: 'robotolight';*/

    /*color:#9d9d9d;*/

}



.color-head{

    margin-bottom: 10px;

}



.options{

    padding-top: 5px;

}



.catgry-head {

    margin-bottom: 10px;

}



.price-head{

    padding-bottom: 10px;

}



.toy-border-two{

    border: 1px solid #eaeaea;

    padding: 20px;

    margin-bottom: 15px;

}



#slider12c .slider-selection, .slider.slider-horizontal .slider-handle{

    background: #b77447;

}



.filter-head{

    margin-bottom: 15px;

    font-weight: bold;

}



a.radius-text{

    border: 1px solid #cccccc;

    padding: 5px 15px 5px 15px;

    border-radius: 50px;

    display: inline-block;

    text-decoration: none;

    color: #333333;

    margin-right: 15px;

}



.filter-top{

    margin-bottom: 15px;

}



.icon-cross{

    color: #999999;

}



.side-free .col-xl-4{

    padding-left: 0;

}



.need-contact{

    text-transform: uppercase;

    font-size: 30px;

    text-align: center;

    padding-bottom: 15px;

}



.short-des{

    width: 50%;

    text-align: center;

    margin: auto;

    padding-bottom: 30px;

}



.circle_1{

    display: inline-block;

    border: 1px dashed #cecece;

    width: 105px;

    height: 105px;

    padding-top: 9px;

    border-radius: 100%;

    margin-left: 120px;

    margin-bottom: 15px;



}



.inner_circle_1{

    width: 85px;

    height: 85px;

    text-align: center;

    font-size: 35px;

    color: #b77447;

    font-weight: bold;

    border: 1px dashed #cecece;

    display: inline-block;

    border-radius: 100%;

    position: relative;

    left: 9px;

    bottom: 0px;

}



.inner_circle_1 .icon-phone1 {

    position: relative;

    top: 25px;

}



.inner_circle_1 .icon-envelope{

    position: relative;

    top: 25px;

}



.inner_circle_1 .icon-location{

    position: relative;

    top: 25px;

}



.num{

    width: 50%;

    text-align: center;

    margin: auto;

}



.mail-info{

    width: 50%;

    text-align: center;

    margin: auto;

}



.mail-info a{

    text-decoration: none;

    color: #333333;

}



.mail-info a:hover{

    color: #b77447;

}



.addres{

    width: 50%;

    margin: auto;

    text-align: center;

}



.whole-info{

    padding-bottom: 50px;

}



.enguiry-head{

    font-size: 30px;

    text-align: center;

    margin-bottom: 15px;

}



.enquiry-subhead{

    width: 50%;

    margin: auto;

    text-align: center;

    padding-bottom: 25px;

}



.custom-text{

    border-radius: 0;

    margin-bottom: 15px;

}



.sam{

    background: #b77447;

    color: #FFFFFF;

    border-radius: 50px;

    border: none;

    text-align: center;

    text-transform: uppercase;

    width: 200px;

    margin: auto;

}



.sam:focus{

    background: #b77447;

    color: #ffffff;

    box-shadow: none;

}

.toy-one{

    max-width: 100%;

    height: 120px;

    margin-right: 20px;

    object-fit: cover;

}



.checkout {

    background: #b77447;

    color: #ffffff;

    border-radius: 3px;

    margin-top: 30px;

    padding: 11px 0;

}

.subtotal {

    align-content: center;

}

.subtotal span {

    display: inline-block;

    font-size: 1.9em;

}

.checkout:focus{

    background: #b77447;

    color: #ffffff;

    box-shadow: none;

}



a.icon-trash-o{

    text-decoration: none;

    color: #333333;

    font-size: 25px;

}



a.icon-trash-o:hover{

    color: #b77447;

}



.add{

    border: none;

    width: 28px;

    height: 28px;

    background: transparent;

    display: inline-block;

    cursor: pointer;

    font-size: 16px;

    /* padding-bottom: 4px;

    padding-left: 10px; */

    line-height: 1;

    position: relative;

    left: 0px;

}

.add, .add:focus, .odd, .odd:focus {

    outline: none;

}

.odd{

    border: none;

    width: 28px;

    height: 28px;

    background: transparent;

    display: inline-block;

    cursor: pointer;

    font-size: 16px;

    padding-bottom: 4px;

    padding-right: 10px;

    line-height: 0.5;

    outline: none;

    position: relative;

    /* right: 30px; */

}

.sorting-strip {

    padding: 5px 15px;

    border: 1px solid #eaeaea;

    margin-bottom: 15px;

    border-radius: 3px;

}

.product-head{

    margin-bottom: 10px;

}.

.product-images {

    position: relative;

}

.product_loading {

    display: none;

}

.loading-bg {

    position: absolute;

    top: 0;

    left: 0;

    bottom: 0;

    right: 0;

    cursor: not-allowed;

    z-index: 999;

    background: rgba(255, 255, 255, 0.5);

}

.spinner-border {

    border-color: #b77447;

    border-right-color: transparent;

}

.loading-body {

    position: absolute;

    left: 50%;

    top: 50%;

    z-index: 999;

    -webkit-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);

}

.side-cart{

    margin-bottom: 15px;

}



.register-part{

    background: #eeeeee;

    padding: 50px;

}



.register-info{

    background: #FFFFFF;

    padding: 50px 15px 50px 15px;

    margin-left: auto;

    margin-right: auto;

    max-width: 750px;

    border-radius: 5px;

}



.sign-up{

    /* border-radius: 50px; */

    background: #b77447;

    border: none;

    color: #FFFFFF;

}



.sign-up:active{

    box-shadow: none;

    outline: none;

}



.field-shadow{

    border-radius: 3px;

    outline: none;

    box-shadow: none !important;

}



.login-part{

    background: #eeeeee;

    padding: 50px;

}



.login-info{

    background: #FFFFFF;

    padding: 50px 15px 50px 15px;

    margin-left: auto;

    margin-right: auto;

    max-width: 500px;

    border-radius: 5px;

}



a.sign-anker{

    text-decoration: none;

    color: #333333;

}



a.sign-anker:hover{

    color: #b77447;

}



.newuser-link{

    margin-bottom: 1rem;

}



.sign-in{

    /* border-radius: 50px; */

    background: #b77447;

    border: none;

    color: #FFFFFF;

}



.sign-in:active{

    box-shadow: none;

    outline: none;

}



.profile-block{

    padding: 20px;

}



.user-img{

    height: 200px;

    border-radius: 100%;

    display: block;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 15px;

}



.user-code{

    text-align: center;



}



.user-name{

    text-align: center;

    margin-bottom: 15px;

    font-weight: bold;

}



a.profile-link{

    text-decoration: none;

    color: #333333 !important;

    display: block;

    /*text-align: center;*/

    padding: 15px;

    border: 1px solid #cccccc;

    border-bottom: transparent;

}



a.profile-link-two{

    border-bottom-left-radius: 10px;

    border-bottom-right-radius: 10px;

    text-decoration: none;

    color: #333333 !important;

    display: block;

    /*text-align: center;*/

    padding: 15px;

    border: 1px solid #cccccc;

}





.profile-head{

    font-size: 25px;

    margin-bottom: 15px;

    font-weight: bold;

    text-transform: uppercase;

}



.save-button{

    border-radius: 3px;

    background: #b77447;

    color: #FFFFFF;

    border: none;

    box-shadow: none;

    outline: none;

    margin-bottom: 15px;

    width: 200px;

    margin-right: auto;

    margin-left: auto;

}



.save-button:active{

    box-shadow: none;

    outline: none;

    background: #b77447;

}



.address-head{

    text-transform: uppercase;

    font-size: 25px;

    font-weight: bold;

    margin-bottom: 15px;

}



.address-one{

    padding: 15px;

    border: 1px solid #cecccc;

    border-radius: 3px;

    min-height: 250px;

}



a.edit{

    text-decoration: none;

    color: #333333;

}



a.edit:hover{

    color: #b77447;

}



a.remove{

    text-decoration: none;

    color: #333333;

}



a.remove:hover{

    color: #b77447;

}



.new-addres{

    margin-top: 20px;

}



.new-addres a{

    border: 1px solid #b77447;

    display: inline-block;

    width: 200px;

    padding: 10px 0px 10px 0px;

    background: #b77447;

    color: #FFFFFF;

    text-decoration: none;

}



.photo-block{

    border-top-left-radius: 10px;

    border-top-right-radius: 10px;

    border: 1px solid #cccccc;

    padding: 10px;

    background: #ecf0f1;

}



.logout-line{

    padding: 15px;

    background: #eeeeee;

    margin-bottom: 15px;

}



.step-count{

    padding: 0px 7px;

    background: #fff;

    border-radius: 3px;

    color: #3d3d3d;

    margin-right: 15px;

}



.login-spell{

    margin-right: 10px;

}



a.logout-anker{

    text-decoration: none;

    color: #333333;

    float: right;

    border: 1px solid #cccccc;

    padding: 5px 15px 5px 15px;

    position: relative;

    bottom: 5px;

}



.name-id{

    padding-top: 10px;

}



.delivery-one{

    padding: 10px 15px 10px 15px;

    background: #eeeeee;

}



.address-detail{

    padding: 20px;

    margin-bottom: 15px;

    border: 1px solid #cccccc;

    display: none;

}



.name-num{

    position: relative;

    bottom: 6px;

}



.first-address{

    line-height: 20px;

    margin-bottom: 10px;

}



.name-id{

    display: none;

}



a.edit-btnn{

    text-decoration: none;

    position: absolute;

    right: -10px;

}



a.dh{

    border: 1px solid #b77447;

    padding: 10px 30px 10px 30px;

    margin-top: 15px;

    margin-bottom: 15px;

    display: inline-block;

    text-decoration: none;

    color: #FFFFFF;

    background: #b77447;

}



.radio-jockey{

    padding-right: 8px;

    padding-left: 15px;

}



.add-new{

    background: #eeeeee;

    padding-top: 20px;

}



.icon-plus1{

    margin-right: 23px;

}



a.aand{

    text-decoration: none;

    color: #333333;

}



.add-new{

    margin-bottom: 15px;

}



.order-detail{

    padding: 20px;

    margin-bottom: 15px;

    border: 1px solid #cccccc;

    display: none;

}



.summary-image{

    width: 100px;

}



.payment-options{

    padding: 20px;

    margin-bottom: 15px;

    border: 1px solid #cccccc;

    display: none;

}



.cod{

    margin-bottom: 15px;

}



.total-payable{

    border: 1px solid #cccccc;

    padding: 15px;

}



.product-name{

    font-size: 30px;

    margin-bottom: 10px;

    margin-top: -10px;

}



a.war{

    text-decoration: none;

    color: #333333;

}



.star-twelve{

    margin-bottom: 10px;

}



.product-head-two{

    margin-bottom: 15px;

}



.qty-product{

    position: relative;

    border: 1px solid #22bfa0;

    border-radius: 3px;

    height: 50px;

    border-radius: 3px;

}

.qty-product .num-filled, .qty-product .num-filled:focus {

    border: 0;

    background: transparent;

    outline: none;

    height: 22px;

}

.qty-product .update_cart_value {

    height: 22px;

}

.qty_title {

    margin-bottom: 0;

    color: #4d4d4d;

}



.num-filled:focus {

    border: 1px solid #22bfa0;

    outline: #22bfa0;

}



a.atc, button.atc{

    width: 100%;

    border: 1px solid #b77447;

    display: inline-block;

    margin-right: 15px;

    padding: 10px 20px 10px 20px;

    background: #b77447;

    color:#b77447;

    text-transform: capitalize;

    transition: all .2s ease-in-out;

    text-decoration: none;

}



button.atc:hover {

    border: 1px solid #22bfa0;

    color:#22bfa0;

}



a.atc-two{

    width: 70%;

    border: 1px solid #b77447;

    padding: 10px 20px 10px 20px;

    background: #b77447;

    color: #FFFFFF;

    text-transform: capitalize;

    text-decoration: none;

    cursor: pointer;

    transition: all .2s ease-in-out;

}



a.atc-two:hover {

    background:#22bfa0;

}



.two-atc-click{

    margin-top: 10px;

    margin-bottom: 10px;

}



.checkout-step {

        padding: 15px;

        background: #eeeeee;

        margin-bottom: 20px;

}



.step-body {

    padding-top: 16px;

}



.checkout-step:not(:nth-child(2)) .step-body {

        display: none;

    }





.prev-btn{

    border-radius: 0;

    background: #b77447;

    border-color:  #b77447;

    box-shadow: none !important;

    outline: none !important;

}



.prev-btn:hover{

    background: #b77447 !important;

    border-color: #b77447 !important;

}



.next-btn{

    border-radius: 0;

    background: #b77447;

    border-color:  #b77447;

    box-shadow: none !important;

    outline: none !important;

}



.next-btn:hover{

    background: #b77447 !important;

    border-color: #b77447 !important;

}



.prev-btn:active{

    background: #b77447;

}



.heading{

    font-size: 18px;

    /*margin-bottom: 20px;*/

    position: relative;

    top: 4px;

}



.finish-btn{

    border-radius: 0px;

    background: #b77447;

    border-color: #b77447;

    box-shadow: none !important;

    outline: none !important;

}



.finish-btn:hover{

    background: #b77447 !important;

    border-color: #b77447 !important;

}



.op{

    margin-bottom: 15px;

}



.wish-count{

    width: 30%;

    text-align: center;

    border: 1px solid #b77447;

    padding: 10px 0;

}



.toys-desc{

  text-align: justify;

  font-size: 16px;

}

.xzoom-thumbs a, .xzoom-thumbs a:focus, .xzoom-thumbs a:hover {

    text-decoration: none;

}

.xzoom-thumbs li:hover .xzoom-gallery, .xzoom-thumbs li.active .xzoom-gallery {

    border-color: #22bfa0;

}

.product-whole-information{

    padding-bottom: 80px;

}



.review-boundary{

    border: 1px solid #eeeeee;

    padding: 20px;

    margin-bottom: 60px;

}



.cr-head{

    font-weight: bold;

    margin-bottom: 8px;

    font-size: 25px;

}



.bor{

    color: #3b5667;

}



a.war-two{

    border: 1px solid #b77447;

    background: #b77447;

    color: #FFFFFF;

    text-decoration: none;

    padding: 5px 10px 5px 10px;

}



.drop-down{

    width: 125px;

    border-radius: 0px;

    margin-top: 50px;

    font-size: 14px;

}



.red-line{

    width: 150px;

    height: 20px;

    /* background: #e63c49; */

    display: inline-block;

    position: relative;

    bottom: -4px;

}



.circle{

    border: 1px solid #e9e9e9;

    border-radius: 100px;

    background: #e9e9e9;

    padding: 15px;

    width: 57px;

    text-align: center;

    display: inline-block;

    margin-bottom: 5px;

}

.review_image {

    position: relative;

}

.review_image .icon-check_circle {

    position: absolute;

    bottom: 4px;

    right: 0;

}

.upper-lower{

    border-top: 1px solid #eeeeee;

    /*border-bottom: 1px solid #eeeeee;*/

    width: 100%;

    margin-top: 25px;

    padding-top: 20px;

    padding-bottom: 20px;

}



.upper-lower .col-xl-6{

    padding-left: 0;

}



.icon-check_circle{

    position: relative;

    /* right: 20px;

    top: 20px; */

}



.verified-star{

    position: relative;

    bottom: 15px;

}



.verifi-date{

    position: relative;

    bottom: 16px;

    right: 10px;

    font-size: 15px;

    color: #d3d3d3;

}



.verifi-block{

    position: relative;

    /* right: 195px;

    top: 7px; */

    margin-left: 10px;

    border: 1px solid #4d4d4d;

    background: #4d4d4d;

    color: #FFFFFF;

    font-size: 13px;

    padding-left: 5px;

    padding-right: 5px;

}



.name-block{

    position: relative;

    /* right: 190px;

    top: 7px; */

}



.page-no{

    list-style: none;

}



.page-no li{

    display: inline-block;

}



.page-no li a{

    text-decoration: none;

    color: #333333;

    padding-right: 8px;

}



.icon-last_page{

    position: relative;

    top: 2px;

}



.releated-head{

    text-transform: capitalize;

    font-weight: bold;

    font-size: 20px;

    padding-bottom: 30px;

}



.releated-product{

    margin-bottom: 50px;

}



.releated-product .releated-head, .recently-head.recently {

    width: 100%;

    padding: 10px;

    background: #1111;

    margin-bottom: 15px;

}



.recently-viewed{

    background: #f8f8f8;

    /* padding: 20px; */

    margin-bottom: 20px;

}



.recently-head{

    text-transform: capitalize;

    /* font-weight: bold; */

    font-size: 20px;

    color: #4e4e4e;

    display: inline-block;

}



a.crv{

   color: #d1b397 !important;

    text-decoration: none;

    text-transform: capitalize;

    float: right;

    cursor: pointer;

}



.combined{

    margin-bottom: 25px;

}



.product-viewd{

    background: #FFFFFF;

    padding: 15px;

}



.product-viewd .icon-cross{

    color: #333333;

    float: right;

}



.viwed-toy{

    width: 100%;

    margin-top: 15px;

}



.shipping-head{

    font-size: 35px;

    font-weight: bold;

    text-align: center;

    padding-bottom: 20px;

}



.question{

    font-size: 24px;

    font-weight: bold;

    padding-bottom: 10px;

}



.answer{

    text-align: justify;

    font-size: 15px;

}



.question-answer{

    margin-bottom: 40px;

}



.wholsale-head{

    font-weight: bold;

    font-size: 24px;

    padding-bottom: 10px;

}



.whole-desc{

    width: 100%;

    text-align: justify;

    font-size: 14px;

    margin-bottom: 25px;

}



.whole-shadow{

    box-shadow: none !important;

    outline: none;

    /* border-radius: 0; */

}



.whole-shadow:focus{

    border-color: #ced4da !important;

}



.submit-btn{

    background: #b77447;

    color: #ffffff;

    border: none;

    box-shadow: none;

    width: 200px;

    padding: 8px;

    border-radius: 5px;

}



.about-head{

    /* font-weight: bold; */

    font-size: 30px;

    text-align: center;

}



.about-img{

    display: block;

    text-align: center;

    margin-left: auto;

    margin-right: auto;

    margin-top: 15px;

    margin-bottom: 15px;

}



.about-line{

    font-size: 24px;

    /* font-weight: bold; */

    text-align: justify;

    width: 100%;

}



.about-next-line{

    font-size: 14px;

    text-align: justify;

    width: 100%;

}



.first-section{

    margin-bottom: 30px;

    max-width: 800px;

    margin: auto;

}



.res-head{

    /* font-weight: bold; */

    text-align: center;

    font-size: 35px;

    margin-bottom: 10px;

    margin-top: 60px;

}



.res-desc{

    /* font-weight: bold; */

    text-align: center;

    width: auto;

    font-size: 18px;

    padding-bottom: 30px;

}



.blog-main-head{

    font-weight: bold;

    font-size: 25px;

    text-transform: uppercase;

    text-align: center;

    margin-top: 30px;

    margin-bottom: 30px;

}



.blog-top{

    margin-bottom: 40px;

}



.res-mg{

   margin-left: auto;

    margin-right: auto;

    display: block;

}



.res-name{

    font-weight: bold;

    text-align: center;

    margin-top: 15px;

}



.res-desc-inner{

    text-align: justify;

    font-size: 15px;

}



.about-resposible{

    padding-top: 20px;

    padding-bottom: 30px;

}



.icon-rupee{

    position: relative;

    top: 2px;

}



.add-comment{

    background: #b77447;

    color: #ffffff;

    border-color: #b77447;

    box-shadow: none;

    outline: none;

    border-radius: 0;

}



.modal-header .close{

    padding: 0;

    margin: 0;

}



.x-img{

    width: 100%;

}



.glyphicon-star-empty, .glyphicon-star, .glyphicon-minus-sign {

    font-family: 'icomoon' !important;

    font-style: normal;

}



.glyphicon-star-empty:before, .glyphicon-star:before {

    content: "\f084";

}

.glyphicon-minus-sign:before {

    content: "\f0d0";

}

.glyphicon-star {

    color: yellow;

}



.contact-block{

    padding-top: 20px;

    padding-bottom: 20px;

}

.contact-right {

    background: #f9f9f9;

    padding: 15px;

}

.contact-first {

    font-size: 25px;

    text-transform: uppercase;

    font-weight: bold;

    letter-spacing: 2px;

    border-bottom: 1px dashed #999999;

    margin-bottom: 15px;

    padding-bottom: 5px;

}



.icon-location_on{

    display: inline-block;

    font-size: 22px;

    color: #b3b3b3;

}



.contact-address{

    width: 170px;

    font-size: 15px;

    text-align: justify;

}



.contact-border{

    border-bottom: 1px dashed #b3b3b3;

    padding-bottom: 15px;

    margin-bottom: 15px;

}



.icon-envelope{

    color: #b3b3b3;

    font-size: 22px;

}



.icon-phone{

    color: #b3b3b3;

    font-size: 22px;

}



.first-para{

    text-align: justify;

}



.second-para{

    text-align: justify;

    margin-top: 15px

}



.contact-right{

    text-align: left;

}



.contact-link-hub{

    padding-inline-start: 0px

}



.get-head{

    text-transform: capitalize;

    font-weight: bold;

    font-size: 22px;

    margin-bottom: 20px;

}



.query-send{

    margin-bottom: 10px;

    font-size: 15px;

}



.mail-submit{

    background: #b77447;

    color: #FFFFFF;

    border: none;

    /* width: 150px; */

    height: 40px;

}



.buy-nowbtn{

    width: 100%;

    background: #b77447;

    border: none;

    color: #FFFFFF;

    height: 46px;

    transition: all .2s ease-in-out;

}



.buy-nowbtn:hover {

    background: #22bfa0;

}



.cart-height{

    min-height: 60vh;

}

.addtext {

    width: 100%;

    border:none;

    outline: none;

}



.owl-carousel .owl-stage-outer {

    background: #fff;

}



/*  Cart icon hover cart  */

.minicart-show {

    position: relative;

    padding-top: 5px;

    padding-bottom: 5px;

}



.minicart-show:hover>.minicart {

    display: block;

    animation: .2s fadeInDown;

}



.minicart {

    position: absolute;

    top: 100%;

    right: 0;

    width: 400px;

    background:#fff;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    display: none;

    z-index: 999;

}



.mini_arrow {

    position: absolute;

    width: 20px;

    height: 20px;

    background: #b77447;

    top: -14%;

    right: 20px;

    transform: rotate(45deg);

    z-index: 9;

}



.minicart_head {

    background: #b77447;

    display: flow-root;

    padding: 15px;

    color: #fff;

    font-weight: 600;

    position: relative;

}



.minicart_total {

    margin-left: -15px;

    margin-right: -15px;

    padding: 6px 15px;

    border-bottom:1px solid rgba(0,0,0,.1);

    border-top:1px solid rgba(0,0,0,.1);

}



.minicart_body, .minicart_footer {

    padding:15px;

}



.minicart_body {

    padding-bottom: 0;

}



.minicart_body img {

    width: 100%;

    border:1px solid #1111;

    padding:5px;

    position: relative;

}



span.minicart_pro_qty {

    font-size: 13px;

}



.minicart_pro_price {

    padding: 5px 10px;

    background: #0a6553;

    border-radius: 3px;

    color: #fff;

}



.minicart_body .icon-close1 {

    position: absolute;

    top: -10px;

    right: 5px;

    font-size: 18px;

    border: 1px solid #0a6553;

    color: #0a6553;

    border-radius: 100%;

    cursor: pointer;

    transition: all .2s ease-in-out;

}



.minicart_body .icon-close1:hover {

    border-color: #b70000;

    color:#b70000;

}



.minicart_btn {

    padding: 10px 15px;

    background: #b77447;

    border-radius: 3px;

    color: #fff;

    text-decoration: none;

}



.minicart_btn:hover {

    background: #22bfa0;

    color: #fff;

    text-decoration: none;

}



@keyframes fadeInDown {

    from {

        opacity:0;

        -webkit-transform: translatey(-20px);

        -moz-transform: translatey(-20px);

        -o-transform: translatey(-20px);

        transform: translatey(-20px);

    }

    to {

        opacity:1;

        -webkit-transform: translatey(0);

        -moz-transform: translatey(0);

        -o-transform: translatey(0);

        transform: translatey(0);

    }

}



#searchProductForm {

    margin-left: -4px;

    padding: 0 15px;

    border: 1px solid;

    border: 1px solid #eaeaea;

}



#searchProductForm .catgry-head, #searchProductForm .price-head, #searchProductForm .color-head {

    background: #1111;

    padding: 5px 15px;

    margin-left: -15px;

    margin-right: -15px;

}



.filter-head {

    font-family: 'Roboto-regular';

    /* background: #1111; */

    /* padding: 5px 15px; */

}



.wishlist .wish_pro .btn-to {

    font-size: 14px;

}



.wishlist .heart {

    right: 14px;

}



.Change_Pass .save-button {

    width: 100%;

}



.Change_Pass .save-button:hover {

    background: #079c7e;

}



/* Form Elements */

.sort_by_dropdown {

    font-size: 14px;

    line-height: 100%;

    border: 1px solid #ccc;

    padding: 0 10px;

    border-radius: 3px;

    height: 24px;

}

.form-control:focus {

    box-shadow: none;

    outline: none;

    border: 1px solid #ccc;

}



.select2-container .select2-selection--single {

    height: 38px;

    border: 1px solid #ced4da;

    border-radius: .25rem;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {

    line-height: 36px;

}

.select2-container--default .select2-selection--single .select2-selection__arrow {

    height: 36px;

}

/* End Elements */



.owl-prev, .owl-next {

    position: absolute;

    top: 50%;

    font-size: 72px !important;

    color: #666 !important;

    -webkit-transform: translateY(-50%);

            transform: translateY(-50%);

}

.owl-prev, .owl-next, .owl-prev:focus, .owl-next:focus {

    border: none;

    outline: none;

}

.owl-prev {

    left: -20px;

}

.owl-next {

    right: -20px;

}



/* Cart page */

.cart-heading{

    text-transform: capitalize;

    font-size: 1.75rem;

    line-height: 62px;

    font-weight: 700;

    margin-bottom: 25px;

}

.cart-right-header {

    font-size: 18px;

    line-height: 100%;

}

.cart-right-header small {

    display: block;

    font-size: 14px;

    color: #aaa;

    margin-bottom: 7    px;

}

.checkout.header-checkout {

    margin-left: 10px;

    margin-top: 0;

    padding: 18px 30px;

}

.cart-right-header-left {

    padding: 10px 0;

}

.cart-product-row {

    border: 1px solid #eaeaea;

    border-radius: 3px;

    padding: 19px;

    margin-bottom: 20px;

}

.cart-product-row h4 {

    /* font-size: 16px; */

    font-size: 1.125rem;

}

.cart-product-row .price {

    font-size: 0.875rem;

    color: rgba(77,77,77,0.8);

}

.cart-product-row .price-right{

    font-size: 1.125rem;

}

.cart-product-row .cart_margin_top {

    margin-top: 35px;

}

.cart-remove-icon {

    background: #dbdbdb;

    border-radius: 50%;

    display: inline-block;

    padding: 3px;

}

.remove_item_from_cart {

    font-size: 16px;

    cursor: pointer;

    color: #333;

    font-weight: bold;

}

.cart-subtotal {

    font-size: 1.375rem;

}

.cart-subtotal small {

    font-size: 1rem;

}

.cart-subtotal .money {

    font-size: 1.75rem;

}

.breadcrumb-item, .breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item+.breadcrumb-item {

    content: "";

    padding-right: 0;

    padding-left: 0;

}

.breadcrumb-item:not(:last-child)::after {

    font-family: 'icomoon' !important;

    content: "\f166";

    padding-left: .5em;

    padding-right: .5em;

}

.breadcrumb li {

    white-space: nowrap;

}

.breadcrumb li a, .breadcrumb li:hover a, .breadcrumb li a:focus {

    color: #b77447;

}

/* End Cart page */



.push-notification {

    position: fixed;

    z-index: 10;

    left: -100%;

    bottom: 50px;

    width: 250px;

    padding: 15px;

    background: #fff;

    border-radius: 2px;

    border: 1px solid #ccc;

    transition: all ease 2s;

    font-size: 12px;

}

.push-notification img {

    max-width: 100%;

    width: 70px;

    height: 70px;

    object-fit: contain;

}

.push-notification.active {

    left: 50px;

}

.push-notification .close {

    position: absolute;

    top: 0px;

    right: 5px;

}

@media (max-width: 968px) {

    .review-boundary {

        font-size: 12px;

    }

    .link-name {

        position: fixed;

        z-index: 999;

        top: 0;

        bottom: 0;

        left: -100%;

        display: block;

        background: #fff;

        margin: 0;

        min-width: 280px;

        transition: all ease 500ms;

        box-shadow: 0 10px 10px #ccc;

    }

    .sorting-strip {

        position: sticky;

        top: 0;

        background: #fff;

        z-index: 999;

    }

    body.open_nav .link-name {

		left: 0;

	}

    .link-name>div {

        padding: 0;

    }

    .link-name a {

        display: block;

        padding: 5px 15px;

        white-space: nowrap;

        border-bottom: 1px solid #ccc;

        color: inherit;

    }

    .link-name .icon-home1 {

        color: #fff;

    }

    .filter-icon {

        cursor: pointer;

    }

    .input-group-append, .input-group-prepend {

        display: -webkit-flex;

        display: flex;

    }

    .qty-product {

        height: auto;

    }

    .qty-product .num-filled, .qty-product .num-filled:focus {

        height: 30px;

    }

    button.atc {

        padding: 15px 0;

        border-radius: 3px;

    }

    .carousel-indicators {

        display: block;

        width: 100%;

        margin-left: 0;

    }

    .owl-prev {

        left: -15px;

    }

    .owl-next {

        right: -15px;

    }



    .nav-icon {

		display: block;

		width: 30px;

		height: 20px;

		margin: 15px 0 15px auto;

		position: relative;

	}

	.nav-icon span {

		display: block;

		position: absolute;

		width: 100%;

		height: 2px;

		background: #b77447;

		transition: .3s;

	}

	.nav-icon span:nth-child(1) {

		top: 0;

	}

	.nav-icon span:nth-child(2) {

		top: calc(50% - 1px);

	}

	.nav-icon span:nth-child(3) {

		bottom: 0;

	}



	body.open_nav .nav-icon>span:first-child {

		transform: rotate(-45deg);

		top: calc(50% - 1px);

	}

	body.open_nav .nav-icon>span:nth-child(2) {

		transform: translatex(100px);

		width: 0;

	}

	body.open_nav .nav-icon>span:last-child {

		transform: rotate(45deg);

		bottom: calc(50% - 1px);

	}

    .browse-category img {

        max-width: 100%;

        /* margin-bottom: 30px; */

    }

    .toy-border .btn-group {

        display: block;

    }

    .toy-border .add_to_cart {

        margin-bottom: 10px;

    }

    .toy-border {

        padding: 10px;

    }

    .container {

        max-width: 100%;

    }

    .toy-hub .col-6:nth-child(odd) .toy-border, .product-images .col-6:nth-child(odd) .toy-border {

        margin-right: -10px;

    }

    .toy-hub .col-6:nth-child(even) .toy-border, .product-images .col-6:nth-child(even) .toy-border {

        margin-left: -10px;

    }

    .product-info-content {

        min-height: 85px;

    }

    .toy-info a {

        font-size: 14px;

        white-space: normal;

        overflow: auto;

    }

    .category-width a {

        margin-bottom: 30px;

        display: block;

        position: relative;

    }

    .minicart {

        width: 300px;

    }

    .footer-nav {

        display: block;

        white-space: normal;

        text-align: center;

        transform: none;

        margin: 0;

    }

    .footer-nav li {

        display: inline-block;

        margin: 5px 10px;

    }

    .footer-nav li a {

        padding-right: 0;

    }

    .subcategory-menu>li {

        display: block;

        margin-left: 0;

    }

    .subcategory-menu>li>.icon-star {

        display: none;

    }

    .subcategory-menu>li>a {

        margin: 0;

        color: #fff;

    }



    .subcategory-menu {

        position: fixed;

        bottom: -100%;

        left: 0;

        right: 0;

        z-index: 999;

        background: #b77447;

        text-align: center;

        padding: 15px 0;

        transition: all ease 500ms;

    }

    .subcategory-menu {

        color: #fff;

    }

    body.open_filter .subcategory-menu {

        bottom: 0;

    }



    .push-notification {

        bottom: 5px;

    }

    .push-notification.active {

        left: 5px;

    }

    #return {

        bottom: 10px;

        right: 5px;

    }



    #demo .carousel-item img {

        height: 204px;

        object-fit: cover;

    }

    .shipping-info {

        text-align: center;

    }

    .freewship {

        padding-top: 0;

    }

    .fship {

        margin-bottom: 15px;

    }

    .gift {

        height: auto;

    }

    .cart-product-row .cart_margin_top {

        margin-top: 15px;

    }

    .cart-product-row .mb-4, .cart-product-row .mt-4 {

        margin-bottom: 0px;

        margin-top: 0px;

    }

    .cart-product-row img {

        max-width: 100%;

        height: auto;

    }

    .column-mobile-9 {

        max-width: 70%;

        padding: 0 15px;

        margin-bottom: 0px !important;

        margin-top: 0px !important;

    }

    .column-mobile-3 {

        max-width: 30%;

    }



    .cart-head-mobile {

        position: relative;

        cursor: pointer;

    }

    .cart-head-mobile .cart_counter {

        cursor: pointer;

        position: absolute;

        top: 1px;

        right: 0;

        width: 17px;

        height: 17px;

        line-height: 15px;

        font-size: 10px;

        border-radius: 50%;

        background: #fff;

        border: 1px solid #b77447;

        display: block;

        text-align: center;

        opacity: 0;

        visibility: hidden;

    }

    .cart-head-mobile .cart_counter.active {

        opacity: 1;

        visibility: visible;

    }

}

